{% extends 'layout.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    {% for product in products %}
    <ul>
        <li>{{ product.id }}</li>
        <li>{{ product.name }}</li>
        <li>{{ product.description }}</li>
        <li>{{ product.price }}</li>
        <li>{{ product.category.title }}</li>
    </ul>
    {% endfor %}

{% endblock %}
